<nav class="navbar navbar-expand-lg bg-danger">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active header" aria-current="page" href="#" routerLink="/dynamic-selection-tab">Dynamic-selection-tab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link header" aria-current="page" href="#" routerLink="/muiltiple-selection">multiple-selection</a>
        </li>
      </ul>
    
    </div>
  </div>
</nav>
<router-outlet></router-outlet>